<!-- <form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Enter your email" required>
    <input type="password" name="password" placeholder="Enter your password" required>
    <input type="submit" value="Sign In">
</form> -->
<link rel="stylesheet" type="text/css" href="/css/authform.css">

<div id="wrapper" class="container">
    <h3>Sign In</h3>
    <div class="signin">
        <form action="/users/create-session" method="POST">
            <div class="form-group">
                <label for="email">Email-Id</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <span id="showpwd" class="fa fa-eye-slash"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign In">
            </div>
        </form>
        <div class="hr"></div>
        <div id="signup"><p>Don't have an account?&nbsp; <a href="/users/signup">Sign Up</a></p></div>
        <a href="/users/forgotpassword" id="froget-pass">Forgot Password?</a>
        <a href="/users/resendverify" id="resendverify">Request for Verification?</a>
    </div>   
</div>

<script src="/js/authform.js"></script>