@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
body{
    font-family: 'Ubuntu', sans-serif;
	color: #000;
	background-color: #d6d6d6;
}
#wrapper{
	width: 40%;
	margin: 3% auto;
	position: relative;
    padding: 3%;
	z-index: 1;
	box-shadow: 0px 15px 20px 0px rgba(128, 128, 128, 0.76);
    border-radius: 20px;
	background-color: #fff;
}
#wrapper:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}
#wrapper h3{
    text-align: center;
}
.signin, .forgotpassword, .resetpassword, .reverify, .deleteaccount{
    margin: 5%;
}
.signup, .editprofile{
    margin: 0 5%;
}
label{
	display: block
}
.form-group{
	position: relative;
	margin-bottom: 20px;
}
.form-group label{
	display: block;
	margin-bottom: 6px;
	font-size: 16px;
	margin-left: 14px;
}
input{
	width: 100%;
	background: rgba(0, 0, 0, 0.42);
	outline: none;
	padding: 10px 14px;
	color: #fff;
	border: none;
	border-radius: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	transition: background 0.5s ease-in-out;
}
span#showpwd{
    position: absolute;
    top: 45px;
    right: 16px;
    cursor: pointer;
}
input:focus{
	background: rgba(0, 0, 0, 0.6);
}
input[type="submit"]{
	background: #1061EE;
	cursor: pointer;
}
.form-group input[type="submit"]{
	margin: 20px 0;
}
.hr{
	height: 1.4px;
	background: rgba(128, 128, 128, 0.51);
	border-radius: 15px;
	margin-bottom: 30px;
}
#signin, #signup, #froget-pass, #resendverify{
	text-align: center;
	margin: 0;
	display: block;
}
a:hover{
	text-decoration: none;
}
#emailnone, #usernamenone{
	pointer-events: none;
}
@media (max-width:1500px){
	#wrapper{
		margin: 3% auto;
	}
}
@media (max-width:800px){
    #wrapper{
        width: 60%;
        margin: 7% auto;
    }
}
@media (max-width:600px){
    #wrapper{
        width: 90%;
        margin: 15% auto;
    }
	.form-group label{
		font-size: 14px;
	}
	span#showpwd{
		top: 42px;
	}
}
#about{
	resize: horizontal;
	overflow-y: scroll;
}